
<br>
<br>

<form method="post"  action="/login/logar" class="form-signin">

<h1 class="h3 mb-3 fw-normal">Login da área admnstrativa</h1>






<div class="form-floating">
<label for="floatingInput">Email: </label>
<input type="email" id="email" name="email" class="form-control" placeholder="Email" required="" autofocus="">

</div>
<br>
<div class="form-floating">
<label for="floatingPassword">Senha:</label>
  <input type="password" class="form-control" id="floatingPassword" name ="senha" placeholder="Password" required ="">

</div>
<br>

<div class="checkbox mb-3">
  <label>
    <input type="checkbox" value="1" name="lembrar" > Lembrar me
  </label>
</div>
<button class="w-100 btn btn-lg btn-primary" type="submit">Logar</button>
<p class="mt-5 mb-3 text-muted">&copy; 2022–2022</p>
</form>