<div id="<%= dom_id adminstrador %>">
  <p>
    <strong>Nome:</strong>
    <%= adminstrador.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= adminstrador.email %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= adminstrador.senha %>
  </p>

</div>
